- @title = "Version"

.page-box.last-box.d-flex.align-items-center.theme-bg.grid-primary-bg
  .container
    .text-center.px-5.mb-5
      = image_tag "logos/help-ds-without-longform.png", style: "max-width: 400px;width: 100%;height: auto;", class: "img-ignore-selection rounded"
    .text-center.text-shadow{ style: "font-size: 2rem;" }
      = "v#{HelpDS::VERSION::STRING}"
