- @title = "Version"

.page-box.last-box.d-flex.align-items-center.theme-bg.grid-primary-bg
  .container.d-flex.justify-content-center
    .d-inline-block.text-center.p-5.rounded.shadow.version-bg
      .logo-lg= render "layouts/logo"
      %div{ style: "font-size: 2.5rem;font-weight: 700;" }
        %span.logo-help> v
        - HelpDS::VERSION::STRING.split(".").each_with_index do |part, index|
          - if index.positive?
            %span.logo-dot> .
          %span.logo-help= part

