- @title = "Join #{ENV["website_name"]}"

.page-box.last-box.d-flex.flex-column.justify-content-center.theme-bg.grid-primary-bg
  .container
    %p.lead.text-center Join our team.

    .sign-up-form
      .sign-up-form-title
        Create your account
      = render "devise/registrations/form", resource: resource

    .sign-up-form.text-center
      = link_to "I already have an account.", new_user_session_path
