-# General
%meta{ name: "description", content: "HELP-DS - Healthy Sleep For Children with Down Syndrome website." }
%meta{ name: "author", content: "Remo Mueller" }
%meta{ name: "keywords", content: @keywords.present? ? @keywords : "sleep apnea, clinical trial, research study, children with down syndrome, healthy sleep" }
%meta{ name: "format-detection", content: "telephone=no" }
